
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Josefin Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  background: #41295a;
  background: -webkit-linear-gradient(to left, #41295a , #2F0743);
  background: linear-gradient(to left, #41295a , #2F0743);
  color: white;
}

.code {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 18vw;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 8vw;
  font-weight: 100;
  margin: 0;
}

.description {
  font-size: 3vw;
  margin: 5vh 15vw;
  text-align: center;
}

/* flex stuff   */

figure img{
  width: 100px;
}

.discription{
  text-align: center;
  color: black;
}
.container {
  width:80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.items{
  flex: 0 1 calc(10% - 1em);
  border: 1px black solid;
  border-radius: 10px;
  background-color: #E0E0E0;
  margin-bottom: 10px;: 
}


