
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Josefin Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  background: #41295a;
  background: -webkit-linear-gradient(to left, #41295a , #2F0743);
  background: linear-gradient(to left, #41295a , #2F0743);
  color: white;
}

.code {
  align-items: center;
  display: flex;  
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

h1 {
  font-size: 18vw;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 8vw;
  font-weight: 100;
  margin: 0;
}

.description {
  font-size: 3vw;
  margin: 5vh 15vw;
  text-align: center;
}

/* flex stuff   */

figure img{
  border: 1px solid #8a4419;
  border-style: inset;
  width: 200px;  
}
.header{
  border:2px solid black;
  background-color: transparent;
  height: 100px;
  margin: auto;
  width:75%;
}
.header h3{
  color: white;
  font-weight: bold;
  margin-left: 30px;
  padding-top: 50px;  
}
.detail{
  color: white;
  text-align: center;  
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width:70%;
}
.items:hover{
  box-shadow: 10px 10px 5px grey;
  background-color: #c299ff;
}
.items{
  border: 1px black solid;
  border-radius: 10px;
  background-color: transparent;
  flex: 0 1 calc(20% - 1em); 
  margin-bottom: 10px;: 
}

@media screen and (min-width: 40em) {
  {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -1em;
    }
  
    .items {
      flex: 0 1 calc(50% - .5em);
      margin-bottom: 1em;
    }
  }
}

@media screen and (min-width: 60em) {
  .container {
    margin-top: inherit;
  }
  
  .items {
    flex: 0 1 calc(33% - 1em);
    margin-bottom: 2em;
  }
}
